<div>
    <h2 id="page-heading">
        <span>Vulnerabilite Refs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vulnerabilite-ref" [routerLink]="['/vulnerabilite-ref/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Vulnerabilite Ref
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vulnerabiliteRefs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom</span></th>
            <th><span>Description</span></th>
            <th><span>Probabilite</span></th>
            <th><span>Impact</span></th>
            <th><span>Criticite</span></th>
            <th><span>Cvss</span></th>
            <th><span>Recommandation</span></th>
            <th><span>Vuln Ref</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vulnerabiliteRef of vulnerabiliteRefs ;trackBy: trackId">
                <td><a [routerLink]="['/vulnerabilite-ref', vulnerabiliteRef.id, 'view' ]">{{vulnerabiliteRef.id}}</a></td>
                <td>{{vulnerabiliteRef.nom}}</td>
                <td>{{vulnerabiliteRef.description}}</td>
                <td>{{vulnerabiliteRef.probabilite}}</td>
                <td>{{vulnerabiliteRef.impact}}</td>
                <td>{{vulnerabiliteRef.criticite}}</td>
                <td>{{vulnerabiliteRef.cvss}}</td>
                <td>{{vulnerabiliteRef.recommandation}}</td>
                <td>
                    <div *ngIf="vulnerabiliteRef.vulnRef">
                        <a [routerLink]="['../vulnerabilite', vulnerabiliteRef.vulnRef?.id, 'view' ]" >{{vulnerabiliteRef.vulnRef?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vulnerabilite-ref', vulnerabiliteRef.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vulnerabilite-ref', vulnerabiliteRef.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vulnerabilite-ref/'+ vulnerabiliteRef.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
